# درجات مقياس قوة الذاكرة البصرية

In [13]:
import numpy as np
import pandas as pd

In [14]:
df = pd.read_csv('last edit.csv')
df.head()

,Total score,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,40
0,20.00 / 40,1.00 / 1,0.00 / 1,1.00 / 1,0.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,0.00 / 1,...,0.00 / 1,1.00 / 1,0.00 / 1,0.00 / 1,1.00 / 1,0.00 / 1,0.00 / 1,0.00 / 1,0.00 / 1,1.00 / 1
1,27.00 / 40,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,0.00 / 1,0.00 / 1,1.00 / 1,...,1.00 / 1,0.00 / 1,0.00 / 1,0.00 / 1,0.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,0.00 / 1
2,28.00 / 40,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,...,1.00 / 1,1.00 / 1,0.00 / 1,0.00 / 1,1.00 / 1,0.00 / 1,1.00 / 1,1.00 / 1,0.00 / 1,0.00 / 1
3,35.00 / 40,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,...,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,0.00 / 1,1.00 / 1,0.00 / 1
4,26.00 / 40,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,0.00 / 1,1.00 / 1,0.00 / 1,1.00 / 1,0.00 / 1,...,1.00 / 1,1.00 / 1,1.00 / 1,0.00 / 1,0.00 / 1,1.00 / 1,1.00 / 1,0.00 / 1,1.00 / 1,0.00 / 1

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 41 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Total score  25 non-null     object
 1   1            25 non-null     object
 2   2            25 non-null     object
 3   3            25 non-null     object
 4   4            25 non-null     object
 5   5            25 non-null     object
 6   6            25 non-null     object
 7   7            25 non-null     object
 8   8            25 non-null     object
 9   9            25 non-null     object
 10  10           25 non-null     object
 11  11           25 non-null     object
 12  12           25 non-null     object
 13  13           25 non-null     object
 14  14           25 non-null     object
 15  15           25 non-null     object
 16  16           25 non-null     object
 17  17           25 non-null     object
 18  18           25 non-null     object
 19  19           25 non-null     object
 20  20           25 non-null     object
 21  21           25 non-null     object
 22  22           25 non-null     object
 23  23           25 non-null     object
 24  24           25 non-null     object
 25  25           25 non-null     object
 26  26           25 non-null     object
 27  27           25 non-null     object
 28  28           25 non-null     object
 29  29           25 non-null     object
 30  30           25 non-null     object
 31  31           25 non-null     object
 32  32           25 non-null     object
 33  33           25 non-null     object
 34  34           25 non-null     object
 35  35           25 non-null     object
 36  36           25 non-null     object
 37  37           25 non-null     object
 38  38           25 non-null     object
 39  39           25 non-null     object
 40  40           25 non-null     object
dtypes: object(41)
memory usage: 8.1+ KB

In [16]:
df.isnull()

,Total score,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,40
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [17]:
df.isnull().sum()

Total score    0
1              0
2              0
3              0
4              0
5              0
6              0
7              0
8              0
9              0
10             0
11             0
12             0
13             0
14             0
15             0
16             0
17             0
18             0
19             0
20             0
21             0
22             0
23             0
24             0
25             0
26             0
27             0
28             0
29             0
30             0
31             0
32             0
33             0
34             0
35             0
36             0
37             0
38             0
39             0
40             0
dtype: int64

In [18]:
#finding missing values

df['1'].isnull().sum()

0

In [19]:
numeric = df.select_dtypes(include=np.number)
numeric_columns = numeric.columns
numeric

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [20]:
df = df.fillna(df.mode().iloc[0])
df.head()

,Total score,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,40
0,20.00 / 40,1.00 / 1,0.00 / 1,1.00 / 1,0.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,0.00 / 1,...,0.00 / 1,1.00 / 1,0.00 / 1,0.00 / 1,1.00 / 1,0.00 / 1,0.00 / 1,0.00 / 1,0.00 / 1,1.00 / 1
1,27.00 / 40,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,0.00 / 1,0.00 / 1,1.00 / 1,...,1.00 / 1,0.00 / 1,0.00 / 1,0.00 / 1,0.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,0.00 / 1
2,28.00 / 40,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,...,1.00 / 1,1.00 / 1,0.00 / 1,0.00 / 1,1.00 / 1,0.00 / 1,1.00 / 1,1.00 / 1,0.00 / 1,0.00 / 1
3,35.00 / 40,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,...,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,0.00 / 1,1.00 / 1,0.00 / 1
4,26.00 / 40,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,0.00 / 1,1.00 / 1,0.00 / 1,1.00 / 1,0.00 / 1,...,1.00 / 1,1.00 / 1,1.00 / 1,0.00 / 1,0.00 / 1,1.00 / 1,1.00 / 1,0.00 / 1,1.00 / 1,0.00 / 1

In [21]:
df.describe()

,Total score,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,40
count,25,25,25,25,25,25,25,25,25,25,...,25,25,25,25,25,25,25,25,25,25
unique,16,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
top,26.00 / 40,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,1.00 / 1,...,1.00 / 1,1.00 / 1,0.00 / 1,1.00 / 1,0.00 / 1,1.00 / 1,1.00 / 1,0.00 / 1,1.00 / 1,0.00 / 1
freq,3,20,24,18,23,23,20,17,22,18,...,16,15,15,13,16,15,15,13,14,13